/* Cart.css */
.cart-tag{
    margin: 10px;
}
.cart-items {
    display: flex;
    justify-content: space-between;
    margin: 100px 20px 20px 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    width: 200px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-description {
    margin-bottom: 10px;
}

.card-price {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style for the quantity input */
.quantity-input {
    width: 50px;
    padding: 5px;
    margin: 10px 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

/* Style for the remove button */
button {
    cursor: pointer;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 10px 5px;
}

.remove-button {
    background-color: #ff4d4d;
    color: #fff;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #ff1a1a;
}

.cart-summary {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.summary-details {
    margin-bottom: 10px;
}

#buyButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#buyButton:hover {
    background-color: #45a049;
}
