.form-reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-form {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.2);
}

.btn-submit:hover {
    background-color: #e52b34;
    color: #fff;
    border: 1px solid #080808;
}

.btn-submit {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;

}

.btn-reservation {
    display: flex;
    align-items: center;
    justify-content: center;

}
.notification {
    background-color: #48f342;
    padding: 20px;
    margin-bottom: 15px;
    border-left: 6px solid #4CAF50; 
    display: none; 
}
.form-group {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.form-control {
    outline: none;
    background: #e52b34 !important;
    box-shadow: none;
    height: 50px;
    border: 1px solid white;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: none !important;
    padding: 0 16px;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}
@media (max-width: 656px) {
    .form-reservation{
        position: relative
    }
}